.flex-container {
    /* If not flexxed it will have stacked boxes, flexxing will make it three aligned boxes */
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 4px solid #a52a2a;
    height: 100px;
    /* If not flexed it will have stacked boxes */
    flex: 1;
    padding: 4px;
  }